body {
    background-image: linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.65)
    ),
    url("BPS.png");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color:white;
    font-family:Arial, sans-serif;
    text-align:center;
    margin:0;
}

.header {
    background-image:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("head.jpg");

    background-size:cover;
    background-position:center;

    padding:30px;
}

.header h1 {
    font-family:'Bebas Neue', sans-serif;
    font-size:60px;
    letter-spacing:2px;
    margin:0;
}

.header p {
    font-size:18px;
}


h2 {
    color:#ff6600;
    font-family:'Bebas Neue', sans-serif;
    letter-spacing:1px;
}


.option {
    display:inline-block;
    background:#222;
    border:2px solid #ff6600;
    padding:15px;
    margin:8px;
    cursor:pointer;
    border-radius:10px;
}


.option:hover {
    background:#ff6600;
}


.selected {
    background:#ff6600;
}


button {
    margin:30px;
    padding:15px 40px;
    font-size:20px;
    font-weight:bold;
    background:#ff6600;
    color:black;
    border:none;
    border-radius:10px;
    cursor:pointer;
}


button:hover {
    background:#ff8533;
    color:black;
}


.player-card {
    display:inline-block;
    width:220px;
    min-height:135px;
    background:linear-gradient(#222,#111);
    border:3px solid #ff6600;
    border-radius:15px;
    margin:15px;
    padding:15px;
    cursor:pointer;
    transition:.3s;
    vertical-align:top;
}


.player-card:hover {
    transform:scale(1.05);
}


.player-card.selected {
    background:#ff6600;
    color:black;
}


.rating {
    font-size:55px;
    font-weight:bold;
    color:#ff6600;
    margin-bottom:10px;
}


.player-card.selected .rating {
    color:black;
}


.player-card h3 {
    margin:8px 0 5px;
    font-size:22px;
}


.player-card p {
    margin:0;
    font-size:16px;
}


.stat {
    display:flex;
    justify-content:space-between;
    padding:5px;
}


.team-summary {
    text-align:center;
}


.team-card {
    background:#f2f2f2;
    color:black;
    padding:15px;
    margin:10px auto;
    border-radius:12px;
    max-width:400px;
}


.team-card strong {
    font-size:24px;
    margin-right:10px;
}


.overall-box {
    margin:25px auto;
    padding:20px;
    max-width:300px;
    border-radius:15px;
    background:#ff6600;
    color:black;
}


.overall-box h1 {
    font-family:'Bebas Neue', sans-serif;
    letter-spacing:2px;
}


.overall-box h2 {
    color:black;
    font-size:50px;
    font-family:'Bebas Neue', sans-serif;
}
